<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Drawing Game</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src='index.js' defer></script>

  <style>
    .probability {
      font-family: consolas;
      font-size: 25px;
      color: orange;
    }

    [v-cloak] {
      display: none;
    }

    .feedback {
      display: inline-block;
      padding: 5px;
      margin: 10px 0;
      color: yellow;
      font-weight: bold;
      background-color: blue;
    }

    .error {
      color: red;
    }
  </style>

</head>

<body>
  <h1>Drawing Game</h1>
  <div id='app' v-cloak>

    <div v-if='gameMode == "start"'>
      <label for='name'>Enter your player name:</label>
      <input type='text' id='name' v-model='name' @keyup.enter='addPlayer'>
      <button @click='addPlayer'>Add players!</button>
      <button @click='playGame'>Lets play!</button>
    </div>
    <ul>
      <li v-for='p in players'>{{p}}</li>
    </ul>


    <div v-if='gameMode == "play"' class='feedback'>
      <div v-if='error' :class="{ error : isError}">
        <p>{{error}}</p>
        <button @click='startGame'>Restart</button>
      </div>
      <div v-else>
        <div>{{choice}} is selected. </div>
        <div>The possibility of {{choice}} being selected is <span class='probability'>{{possibility}}</span></div>
        <button @click='startGame'>Play again</button>
      </div>
    </div>



  </div>
</body>

</html>